.main-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #464646;
}


.texto-footer{
  color:#BBBBBB;
  margin-top: 15px;
  margin-left: 10%;
}


.logo-footer{
  margin-left: 70%;
}
