<footer class="main-footer">
  <div class = "row">
    <div class = "col-md-8">
      <p class = "texto-footer">Grability 2016 - Todos los derechos reservados</p>
    </div>
    <div class = "col-md-4">
      <img class = "logo-footer" src = "/assets/img/grability-logo.png"><img>
    </div>
  </div>
</footer>
