<header>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/marvel-logo.png" class="d-inline-block align-top logo" alt="">
    </a>
    <div class = "container-search">
      <input [(ngModel)]="name" class = "input" id="search" type="text" placeholder="Search" >
      <span (click)="buscar()"><img src="/assets/img/search.png"/></span>
    </div>
  </nav>
</header>
