<section class = "group">
    <section>
      <div class = "order">
        <div class = "characters">
          <img src="/assets/img/characters.png">
        </div>
        <div class = "characters">
          <h4>Characters</h4>
        </div>
        <div id = "dropdown" class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-dropdown dropdown-toggle">
            Sort by <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Name</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </div>
      </div>

      <div class="cards">
        <div class="card" href="#"  *ngFor="let personaje of results">
          <div class="row">
            <div class = "col-md-6">
              <img src="{{personaje.thumbnail.path}}.{{personaje.thumbnail.extension}}" class="avatar" alt="Avatar">
            </div>
            <div class = "col-md-6">
              <h4 class="card-title">{{personaje.name}}</h4>
              <p class = description>
                {{personaje.description}}
              </p>
              <button type="button" class="btn button-red">VIEW MORE</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5 class = "related-comics" align="left" >Related comics</h5>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-6" *ngFor="let comic of personaje.comics.items; let i=index">
              <a href = "#" *ngIf="i < 4" (click)="openModalWithComponent(comic.resourceURI)"><p class = "comics-item">{{comic.name}}</p></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <aside>
      aside
    </aside>
</section>


