<div class="header">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true"><img src="/assets/img/btn-close.png"></span>
  </button>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
